.filename-text {
    font-size: 0.8rem;
    margin: 0;
    line-height: 1;
}

.channelAndVideoName {
    display: flex;
    justify-content: flex-start;
    margin-top: 0.3rem;
    align-items: baseline;
  }

  .channelAndVideoName .filename-text {
    display: inline-flex;
    font-size: 0.75rem;
    padding: 0.375rem 0.375rem;
    align-items: flex-start;
    text-align: left;
  }

  .channelPillSmall {
  display: inline-flex;
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0.375rem 0.5rem;
  align-items: flex-start;
  border-radius: 2.5rem;
  background: var(--TL-Green-300, #C3F49C);
  }