.errorMessageSearch {
    color: var(--TL-Red-500, #F44336);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
}

.inputAndErrorSearch{
    gap: 0.25rem;
    width: 100%;
}

