.errorMessage {
    color: var(--TL-Red-500, #F44336);
    /* Body2 */
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;


}

.inputAndError{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
}