.selected-index {
  cursor: pointer;

  display: flex;
  height: 3rem;
  padding: 0.25rem 0.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  flex-shrink: 0;
  background: var(--TL-Green-500, #9AED59)

  }

.default-index {
cursor: pointer;
display: flex;
height: 3rem;
padding: 0.25rem 0.75rem;
justify-content: center;
align-items: center;
gap: 0.25rem;
flex-shrink: 0;
border: 1px solid var(--TL-Grey-500, #B7B9B4);
color: var(--TL-Grey-700, #6F706D);
background: #FFF;
}

.default-index:hover {
display: flex;
height: 3rem;
padding: 0.25rem 0.75rem;
justify-content: center;
align-items: center;
gap: 0.25rem;
flex-shrink: 0;
border: 1px solid var(--TL-Green-500, #9AED59);
color: var(--TL-Black, #222);
background: var(--TL-Grey--100, #F4F4F3);
background: #FFF;
}

.deleteButton {
  display: flex;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}

.channelPills {
  margin-top: 3rem;
}

.label {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.channelPill {
  display: flex;
padding: 0.5rem 0.75rem;
align-items: flex-start;
border-radius: 2.5rem;
background: var(--TL-Green-500, #9AED59);
}

.videoUploadForm, .videoSearchForm {
  margin-top: 4rem;
  margin-bottom: 4rem
}