.defaultContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.searchResultTitle {
  font-size: 2.5rem;
  font-weight: 100;
  margin-bottom: 2rem;
}