.App {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  background-color: #F4F4F3;
  min-height: 100vh;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  margin-top: 5rem;
}

h1 {
  font-weight: 700;
}

.indexFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media (max-width: 1020px) {
  .formContainer {
    flex-direction: column;
    align-items: center;  }
}