.App {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  background-color: #F4F4F3;
  min-height: 100vh;
}

.formContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

h1 {
  font-weight: 700;
}

.indexFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}