body {
  margin: 0;
  font-family: 'Figtree', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --TL-Black: #222;
  --TL-Grey--100: #F4F4F3;
  --TL-Red-500: #F44336;
  --TL-Green-500: #9AED59;
  --TL-Green-300: #C3F49C;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
