.inputContainer {
    display: flex;
    align-items: center;
  }

  .primaryButton {
    display: flex;
    padding-top: 12px;
    background: #FFF;
    border: none;
    border-bottom: 2px solid #D4D5D2;
    justify-content: center;
    align-items: center;
    transition: border-color 0.3s; /* Add a transition for smoother color change */
    margin-top: 0.75rem;
    margin-bottom: 0.625rem;
    height: 3.5rem;
  }

  .textField {
    display: flex;
    min-width: 50rem;
    padding-top: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    background: #FFF;
    border: none;
    border-bottom: 2px solid #D4D5D2;
    transition: border-color 0.3s; /* Add a transition for smoother color change */
    margin-top: 0.75rem;
    margin-bottom: 0.625rem;
    font-size: 1.2rem;
    height: 3.5rem;
  }

  .inputForm:hover {
    flex-shrink: 0;
    background: var(--TL-Grey--100, #F4F4F3);
  }

  /* Add a class to change the border color of both button and input when typing */
  .inputFocused .primaryButton,
  .inputFocused .textField {
    border-bottom: 2px solid #9AED59; /* Change to your desired color */
  }

  /* Remove the blue outline for focused input elements */
.textField:focus {
    outline: none;
  }


  .icon {
    margin-right: 0.3rem;
    color: #D4D5D2;
  }
