.inputContainer {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .primaryButton {
    display: flex;
    min-height: 4rem;
    padding-top: 12px;
    background: #FFF;
    border: none;
    border-bottom: 2px solid #D4D5D2;
    justify-content: center;
    align-items: center;
    transition: border-color 0.3s;
    margin-top: 0.75rem;
    margin-bottom: 0.625rem;
    height: 3.5rem;
  }

  .textField {
    display: flex;
    min-width: 27rem;
    min-height: 4rem;
    padding-top: 12px;
    flex-direction: column;
    text-wrap:wrap;
    gap: 0.625rem;
    background: #FFF;
    border: none;
    border-bottom: 2px solid #D4D5D2;
    transition: border-color 0.3s;
    margin-top: 0.75rem;
    margin-bottom: 0.625rem;
    font-size: 1.2rem;
    height: 3.5rem;
  }

  .searchTextField {
    display: flex;
    width: 100%;
    max-width: 75rem;
    min-height: 4rem;
    padding-top: 12px;
    flex-direction: column;
    text-wrap:wrap;
    gap: 0.625rem;
    background: #FFF;
    border: none;
    border-bottom: 2px solid #D4D5D2;
    transition: border-color 0.3s;
    margin-top: 0.75rem;
    margin-bottom: 0.625rem;
    font-size: 1.2rem;
    height: 3.5rem;
  }

  .inputForm {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inputForm:hover {
    flex-shrink: 0;
    background: var(--TL-Grey--100, #F4F4F3);
  }

  .inputFocused .primaryButton,
  .inputFocused .textField {
    border-bottom: 2px solid #9AED59;
  }

  .textField:focus {
    outline: none;
  }

  .icon {
    margin-right: 0.3rem;
  }
